{% load static %}
<head>
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<!-- Add certificate -->
<div class="container">
    <div class="hero-content">
        <h1 class="gradient-text animate-fade-in">
            Add certificate
        </h1>
    </div>
</div>

<div class="form-container">
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Esto renderiza todos los campos automáticamente -->
        <button type="submit" class="btn">
            Save
        </button>
    </form>
    {% if form.errors %}
    <div class="errors">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
</div>

<!-- Current certificates -->
<div class="container">
    <div class="hero-content">
        <h1 class="gradient-text animate-fade-in">
            Current certificates
        </h1>
    </div>
</div>

<div class="certificate-card">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de Emisión</th>
            </tr>
        </thead>
        <tbody>
            {% for certificate in certificates %}
                <tr>
                    <td>{{ certificate.name }}</td>
                    <td>{{ certificate.desc }}</td>
                    <td>{{ certificate.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>